[DATASET]
# 数据集主体所在位置
coco = /home/matzoh/dataset/coco_2017
cifar = testDataset/cifar
hotel_emotion = testDataset/hotel_emotion
imagenet_root = Your Path


# 与数据集相关的文件
imagenet_caffe = testDataset/caffe_ilsvrc12
stopwords = testDataset/stopwords.txt


# 数据集的本身特点
cifar_valid = 0.1
coco_target = ["instances", "captions", "keypoints"]  # 有哪几类下游任务

[DATALOADER]
batch_size = 64
shuffle = True
num_workers = 4
pin_memory = True

[MODEL]
batch_size = 64
epoch = 50
lr = 3e-4
layers = [3, 4, 6, 3]  # 对于不同的模型结构，比如resnet和transformer，都会使用到这个参数，这个参数可以是list，也可以是一个值，在intitialize和模型搭建的过程中会使用到
classify = 90
heads = 4
weight_decay = 0.1

[TRANSFORMER]

embedding_dim = 768
vocab_size = 50257
n_layer = 6
dropout = 0.1
max_length = 1024

[DIFFUSION]
# 使用的diffusion模型名称 
model_name = stabilityai/stable-diffusion-2-1-base
# 训练的步数
time_step = 50
# 输入图像的形状
image_size = 512

[BRAINDIVE]
# brain dive使用的brain encoder的模型
clip_model = ViT-B/32
sag_scale = 0.75
clip_guidance_scale = 100
image_number = 100
weight_root = /home/matzoh/桌面/info/weights_clip_vit_SELECTIVE_ROI.npy
roi_root = /home/matzoh/桌面/info/roi_index/subj01_{}_index.txt

final_image_save_root = /home/matzoh/PythonProgram/zmcode/experiment/output/BrainDiVE_Image/subj{}/{}/fig{}.png
middle_image_save_root = /home/matzoh/PythonProgram/zmcode/experiment/output/middle_image/subj{}/{}/fig{}
middle_image_save_name = timestep{}_image.png
middle_image_grad_save_root = /home/matzoh/PythonProgram/zmcode/experiment/output/middle_image_grad/subj{}/{}/fig{}
middle_image_grad_save_name = timestep{}_grad.png

[TRAINING]
# 模型训练的tensorboard的log保存路径
log_dir = /home/matzoh/PythonProgram/zmcode/log
# 模型训练检查点的保存路径
checkpoint_dir = /Users/a1/PythonProgram/zmcode/output/checkpoint/{}
# 模型训练过程检查点的保存名字
checkpoint_name = epoch{}batch{}.pt
# 建立检查点的时间间隔
checkpoint_save_time = 3600
# 训练完成后的模型保存位置
model_save_root = ModelParams/{}/trained_parameters.pt

# 模型初始化时参数的均值
init_mean = 0.0
# 模型训练的设备
device = cpu

[INFERENCE]
# 模型推理的设备
device = cpu

[RESNET34]
layers = [3, 4, 6, 3]
inplanes = 64
planes = [64, 128, 256, 512]

# 自己的尝试，残差连接改良
[MYRES]
gama = 0.5
image_size = [56, 28, 14, 7]

[RESNET50]

[DRAWER]
# 画图时的画布大小
figsize = (12, 12)

loss_name = ["resnet34", "new resnet34"]
colors = ["r", "g"]

save_path = ./output/save_fig.png
dpi = 1080

[CKA]

model_a_layers = ["conv1", "layer1", "layer2", "layer3", "layer4"]
model_b_layers = ["conv1", "layer1", "layer2", "layer3", "layer4"]
middle_activation_save_root = /media/matzoh/Matzoh_0/experiment/output/CFA/{}/{}
middle_activation_save_name = batch_{}_activation.pt
kernel =  linear

# CKA  图像保存路径
image_save_root = experiment/output/CKA_image
image_save_name = {}_{}_cka_image.png
dpi = 1080
figsize = (8, 8)


[HOTEL]
train_split = 0.8
word_dim = 300
max_sent_len = 80
lr = 0.001
epoch = 200
batch_size = 16
weight_save_path = experiment/output/Hotel_param/weight.pt
bias_save_path = experiment/output/Hotel_param/bias.pt
word2vec = testDataset/sgns.target.word-word.dynwin5.thr10.neg5.dim300.iter5