[DATASET]
# 数据集主体所在位置
coco = /Volumes/T7/Dataset/coco_2017
nsd_coco = /data/guoyuan/Mufan/NSD_images/images

[TRAINING]
device = cuda
batch_size = 64
lr = 3e-4
epochs = 50
weight_decay = 1.5e-2
lr_decay_rate = 5e-1
calcutale_type = torch.float32
dtype = torch.float32

[BRAIN]
save_name_list = ["SELECTIVE_ROI"]

[NSD]
nsd_root = /data/guoyuan/nsd/nsddata/experiments/nsd
repo = 3
session_num = 40
cka_batch_size = 64
stimuli_info = /data/guoyuan/nsd/nsddata/experiments/nsd/nsd_stim_info_merged.pkl
from_coco_split=False

general_mask_root = /data/guoyuan/nsd/nsddata/ppdata/subj0{}/func1pt8mm/roi/nsdgeneral.nii.gz
roi_mask_root = /data/guoyuan/nsd/nsddata/ppdata/subj0{}/func1pt8mm/roi/{}.nii.gz
beta_value_root = /data/guoyuan/nsd/nsddata_betas/ppdata/subj0{}/func1pt8mm/betas_fithrf_GLMdenoise_RR/betas_session{:02d}.nii.gz

# 保存取出的被试的image的index，取自"subject{}_rep0"，以及每个Image的trail id，取自"subject{}_rep{}"
image_index_save_root = experiment/output/NSD/StimuImageIndex/coco_ID_of_subj{}.pt
image_trail_save_root = experiment/output/NSD/StimuImageTrail/image_trail_ID_of_subj{}.pt
image_root_save_root = experiment/output/NSD/StimuImageRoot/image_root_of_subj{}.pt

individual_image_bool_save_root = experiment/output/NSD/StimuImageIndex/individual_bool_list_of_subj{}.pt
same_image_bool_save_root = experiment/output/NSD/StimuImageIndex/same_bool_list_of_subj{}.pt

general_mask_save_root = experiment/output/NSD/mask/subj{}/cortical_{}_general_mask.pt
roi_mask_save_root = experiment/output/NSD/mask/subj{}/{}_mask.pt
nonzero_mask_save_root = experiment/output/NSD/mask/subj{}/roi_{}_1d_mask.pt

voxal_zscore_response_save_root = experiment/output/NSD/voxal_response/subj{}/{}_zscore_response.pt
voxal_nonzscore_response_save_root = experiment/output/NSD/voxal_response/subj{}/{}_nonzscore_response.pt
zscore_avg_activation_save_root = experiment/output/NSD/voxal_response/subj{}/cortical_{}_zscore_average_response.pt
zscore_activation_ev_save_root = experiment/output/NSD/voxal_response/subj{}/cortical_{}_zscore_ev.pt
nonzscore_avg_activation_save_root = experiment/output/NSD/voxal_response/subj{}/cortical_{}_nonzscore_average_response.pt
nonzscore_activation_ev_save_root = experiment/output/NSD/voxal_response/subj{}/cortical_{}_nonzscore_ev.pt
pure_response_save_root = experiment/output/NSD/voxal_response/subj{}/pure_cortical_{}_response.pt
image_activation_save_root = experiment/output/NSD/StimuImageEmbedding/subj{}_{}_training_image_embedding.pt
image_same_activation_save_root = experiment/output/NSD/StimuImageEmbedding/subj{}_{}_valid_image_embedding.pt

# save the middle activation, for each subj, each model and each layer
middle_activation_save_root = experiment/output/NSD/StimuImageHiddenResponses/subj{}/{}_{}_hidden_activation.pt
middle_same_activation_save_root = experiment/output/NSD/StimuImageHiddenResponses/subj{}/{}_{}_valid_hidden_activation.pt

linear_save_root = experiment/output/NSD/linear_fitting_weight/subj{}/{}_{}_linear_fitting_weight.pt
r2_save_root = experiment/output/NSD/linear_r2_score/subj{}/{}_{}_r2_score.pt
# save the middle linear weight, for each subj, each model, each layer and each roi
middle_layer_linear_save_root = experiment/output/NSD/middle_layer_linear_fitting_weight/subj{}/{}_{}_{}_linear_fitting_weight.pt
middle_layer_r2_save_root = experiment/output/NSD/middle_layer_linear_r2_score/subj{}/{}_{}_{}_r2_score.pt


[ROI]
roi_root = testDataset/BrainDiVE_test/roi_index/subj0{}_{}_index.txt
roi_list = ["FFA", "EBA", "RSC", "VWFA", "FOOD"]
adapted_weight_root = testDataset/BrainSCUBA/adapted_weight/adapted_weight.pt

[WEIGHT]
weight_root = testDataset/BrainDiVE_test/weights_clip_visual_resnet_SELECTIVE_ROI.npy
image_embedding_root = testDataset/BrainSCUBA/embeddings_visualization/clip_visual_resnet.npy
text_embedding_root = testDataset/BrainSCUBA/embeddings_visualization/clip_text_resnet.npy

[IMAGE_EMBEDDING]
model_name = clip_ViT-B_16
embedding_dim = 512